@import url(font/thsarabun/thsarabunnew.css);

.header{
    padding:20px !important;
}
th{
    font-size:14px !important;
    text-align:center;
    padding:5px 5px 5px 5px !important;
}

td{
    padding:5px 3px !important;
}

.control-label{
    font-size:16px !important;
    color:#000 !important;
    margin-top:-5px !important;
    font-weight:bold  !important;
}
::placeholder {
    color:red;
}
.error{
    color:#FF0000 !important;
}
.text-red{
    color:#F00 !important;
} 
select{
    cursor:pointer;
}
.form-control{
    border:1px solid #aaa !important;
}
.font-header{
    color:#007fff;
}
select{
    cursor:pointer;
}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}

.font10{font-size:10px !important;}
.font12{font-size:12px !important;}
.font14{font-size:14px !important;}
.font16{font-size:16px !important;}
.font18{font-size:18px !important;}
.font20{font-size:20px !important;}
.font22{font-size:22px !important;}
.font24{font-size:24px !important;}
.font26{font-size:26px !important;}
.font28{font-size:28px !important;}
.font30{font-size:30px !important;}

.font-bold{font-weight:bold !important;}
.font-italic{font-style:italic !important;}

.text-green{color:green !important}
.text-red{color:red !important}
.text-orange{color:orange !important}
.text-violet{color:blueviolet !important}
.text-blue{color:blue !important}
.text-sky{color:#007fff !important}
.text-black{color:black !important}
.text-pink{color:pink !important}

.margin-top-10{margin-top:10px !important}
.margin-top-15{margin-top:15px !important}
.margin-top-20{margin-top:20px !important}
.margin-top-25{margin-top:25px !important}
.margin-top-30{margin-top:30px !important}    

.margin-bottom-10{margin-bottom:10px !important}
.margin-bottom-15{margin-bottom:15px !important}
.margin-bottom-20{margin-bottom:20px !important}
.margin-bottom-25{margin-bottom:25px !important}
.margin-bottom-30{margin-bottom:30px !important} 

.padding0{padding:0px !important;}
.margin0{margin:0px !important;}    

.float-right{float:right !important;}
.float-left{float:left !important;}

.header{
    padding:20px !important;
}
.history{
    color:#FFF !important;
    background-color:#007fff !important;
    vertical-align:middle;
}
.approve{
    color:#FFF !important;
    font-size:14px !important;
    background-color:orange !important;     
    vertical-align:middle;
}
.td-middle{
    vertical-align:middle;
}
.text-center{
    text-align:center;
}
.trhover{
    background-color: #ffff99 !important;
    cursor:pointer !important;
}
label{
    font-size:20px !important;
    color:#000 !important;
}    

.font-header{
    color:#007fff;
}

/*readonly for select2*/
select[readonly].select2 + .select2-container {
   pointer-events: none;
   touch-action: none;

   .select2-selection {
     background: #eee;
     box-shadow: none;
   }

   .select2-selection__arrow,
   .select2-selection__clear {
     display: none;
   }
 }
 
 
 /*highlight row*/
table.highlight tbody tr:nth-child(even):hover td{
    background-color: yellow !important;
    cursor:pointer !important;
}
table.highlight tbody tr:nth-child(odd):hover td {
    background-color: yellow !important;
    cursor:pointer !important;
}        


 /*highlight2 row*/
table.highlight2 tbody tr:nth-child(even):hover td{
    background-color: yellow !important;
}
table.highlight2 tbody tr:nth-child(odd):hover td {
    background-color: yellow !important;
}       


.tbMain_length{
   font-size:14px !important;
}

.dataTables_length, #tbMain_filter, .dataTables_info, #tbMain_paginate{
    font-size:14px;
}

.dataTables_length label{
    margin-top:8px;
    margin-left:15px;
    font-size:14px !important;
}         

.dataTables_filter input{       
    font-size:14px !important;
    border:1px solid;              
}            

.dataTables_filter label{
     font-size:14px !important;
}

.vertical-top{vertical-align:top !important;}
.vertical-bottom{vertical-align:bottom !important;}
.vertical-middle{vertical-align:middle !important;}

.card{
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.title{
    font-size:20px !important;
    font-weight:bold !important;
}

.navbar-header{
    height:auto !important;
}

hr{
    margin-top:5px !important;
    margin-bottom:5px !important;
}


.hidden{
    visibility:hidden; 
    width:0px !important; 
    height:0px !important; 
    float:left;
    position:fixed;
    left:-99999px !important;
}

.hide{
    visibility: hidden;
    float:left;
    position:fixed;
    left:-99999999px;
    top:-99999999px;
}



/*body{ font-family: 'THSarabunNew', sans-serif; }
p, .title, .font-header, a{ font-family: 'THSarabunNew', sans-serif;}
table, td, tr, th{ font-family: 'THSarabunNew', sans-serif;}*/